@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*, 
*::before,
*::after {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: 0 none;
    box-shadow: 0 0 0;
}

header#menuTopo {
    width: 100%;
    height: 75px;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

header#menuTopo div {
    width: 100%;
    height: 100%;
    padding: 0px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#menuTopo div nav#linksMenuTopo {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header#menuTopo div nav#linksMenuTopo a {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

header#menuTopo div nav#linksMenuTopo a:hover {
    text-decoration: underline;
}

header#menuTopo div nav#socialMenuTopo {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header#menuTopo div nav#socialMenuTopo a {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header#menuTopo div nav#socialMenuTopo a img.socialPreta {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: none;
}

header#menuTopo div nav#socialMenuTopo a img.socialBranca {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: block;
}

header#menuTopo div nav#socialMenuTopo a:hover img.socialPreta,
header#menuTopo div nav#socialMenuTopo a:hover img.socialBranca {
    width: 42px;
    height: 42px;
}

header#menuTopo div nav#socialMenuTopo a span {
    width: 100px;
    height: 30px;
    background-color: #2E4147;
    color: #ffffff;
    font-style: italic;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    opacity: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

header#menuTopo div nav#socialMenuTopo a span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2E4147 transparent;
}

header#menuTopo div nav#socialMenuTopo a:hover span {
    top: 55px;
    opacity: 1;
}

header#menuTopo div nav#btMobile {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

header#menuTopo div nav#btMobile button#btAbrirGS {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px;
    top: 22.5px;
    cursor: pointer;
}

header#menuTopo div nav#btMobile button#btAbrirGL {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 22.5px;
    cursor: pointer;
}

header#menuTopo div nav#btMobile button#btAbrirGL img,
header#menuTopo div nav#btMobile button#btAbrirGS img {
    width: 100%;
    height: 100%;
}

header#menuTopo div nav#btMobile button#btAbrirGL img.gridPreta,
header#menuTopo div nav#btMobile button#btAbrirGS img.hamPreta {
    display: none;
}

@media only screen and (max-width: 1067px) {

    header#menuTopo div nav#btMobile {
        display: block;
    }

    header#menuTopo div nav#linksMenuTopo,
    header#menuTopo div nav#socialMenuTopo {
        display: none;
    }

}

/* Menu Hamburguer */

nav#menuHam {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(69, 191, 238, 0.95);
    left: -100vw;
    opacity: 0;
    z-index: 20;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav#menuHam main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav#menuHam main button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 900;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

nav#menuHam main a,
nav#menuHam main p {
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    margin: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Menu Grid */

nav#menuGrid {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(69, 191, 238, 0.95);
    right: -100vw;
    opacity: 0;
    z-index: 30;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav#menuGrid main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav#menuGrid main button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 900;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

nav#menuGrid main a {
    width: 50px;
    height: 50px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#menuGrid main a img{
    width: 32px;
    height: 32px;
}

/* Banner */

section#banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: cover;
}

section#banner main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(69, 191, 238, 0.5);
}

section#banner main h1 {
    padding: 5px 10px 5px 10px;
    font-size: 64px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgba(0, 23, 31, 0.2), 0px 4px 4px rgba(0, 23, 31, 0.1);
}

section#banner main h2 {
    padding: 5px 10px 5px 10px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 100;
    text-shadow: 0px 2px 2px rgba(0, 23, 31, 0.2), 0px 4px 4px rgba(0, 23, 31, 0.1);
}

section#banner main button {
    width: 20px;
    height: 30px;
    background-color: transparent;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

section#banner main button span {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    bottom: 13px;
    left: 3px;
    opacity: 0;
    animation: scroll 1.5s infinite;
}

@keyframes scroll {
    0% {
        bottom: 13px;
        opacity: 0;
    }
    50% {
        bottom: 8px;
        opacity: 1;
    }
    100% {
        bottom: 3px;
        opacity: 0;
    }
}

@media only screen and (max-width: 816px) {

    section#banner{
        background-size: auto;
    }

    section#banner main button {
        display: none;
    }

}

/* Index.html */

/*  Tela sobre mim */

section#sobreMim {
    width: 100%;
    max-height: 100%;
    padding: 25px 0px 25px 0px;
}


section#sobreMim hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 23, 31, 0.1);
}

section#sobreMim header {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 25px 0px;
}

section#sobreMim header h1 {
    padding-top: 5px;
    font-size: 28px;
    font-weight: 900;
    color: #2E4147;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    border-top: 3px solid rgba(0, 23, 31, 0.3);
}

section#sobreMim header p {
    width: 550px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: 100;
    color: #174668;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

/* Competencias */

section#sobreMim main#competencia {
    width: 100%;
    max-height: 100%;
    padding: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

section#sobreMim main#competencia article {
    width: 70%;
    padding-top: 25px;
    max-height: 100%;
    margin-bottom: 50px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section#sobreMim main#competencia article header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#sobreMim main#competencia article h1 {
    font-size: 32px;
    font-weight: 900;
    color: #2E4147;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1px;
}

section#sobreMim main#competencia article h2 {
    font-size: 18px;
    font-weight: 600;
    color: #17AFEA;
    text-align: start;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    left: 0;
}

section#sobreMim main#competencia article div {
    width: 100%;
    height: 30px;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
}

section#sobreMim main#competencia article div span {
    height: 100%;
    background-color: #174668;
    border-radius: 5px;
    position: absolute;
}

/* Metas */

main#metas {
    width: 100%;
    max-height: 100%;
    padding: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main#metas h1 {
    margin-bottom: 50px;
    color: #2E4147;
    font-size: 28px;
    letter-spacing: 1px;
    padding-top: 5px;
    border-top: 3px solid rgba(0, 23, 31, 0.3);
}

main#metas article {
    width: 90%;
    max-height: 100%;
    padding: 25px 15px 25px 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 23, 31, 0.3), 0px 4px 8px rgba(0, 23, 31, 0.1);
}

main#metas article h1 {
    margin-bottom: 25px;
    color: #17AFEA;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    border: none;
}

main#metas article p {
    color: #174668;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.5px;
}

/* links */

main#links {
    width: 100%;
    max-height: 100%;
    padding: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

main#links p {
    color: #174668;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 100;
}

main#links p a {
    color: #17AFEA;
    letter-spacing: 1px;
    font-weight: 900;
}

@media only screen and (max-width: 550px) {

    section#sobreMim header p {
        width: 90%;
    }

}


@media only screen and (max-width: 435px) {

    section#sobreMim main#competencia article,
    section#sobreMim footer a {
        width: 90%;
    }

}

/* Portfolio.html  */

/* Tela avisos */

section#avisos {
    width: 100%;
    max-height: 100%;
    padding: 50px 0px 50px 0px;
}

section#avisos h1 {
    width: 100%;
    color: #174668;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 32px;
}

.divisoria {
    width: 90%;
    height: 1px;
    margin-left: 5%;
    border: none;
    background-color: rgba(69, 191, 238, 0.5);
}

section#trabalhos {
    width: 100%;
    max-height: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section#trabalhos h1 {
    width: 100%;
    color: #174668;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 25px;
}

section#trabalhos article {
    width: 273.2px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section#trabalhos article img {
    width: 100%;
    height: 153.6px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 23, 31, 0.2), 0px 4px 8px rgba(0, 23, 31, 0.1);
}

section#trabalhos article h1 {
    width: 100%;
    color: #174668;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 32px;
}

section#trabalhos article a {
    width: 100%;
    height: 50px;
}

section#trabalhos article a button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #17AFEA;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 26px;
    border: 1px solid #17AFEA;
    cursor: pointer;
}

/* contato.html */

/* Tela contato */

section#contato {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

section#contato article,
section#contato article form {
    width: 400px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

section#contato article h1 {
    color: #174668;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
}

section#contato article p {
    color: #174668;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-weight: 100;
    text-align: center;
}

section#contato article form input,
section#contato article form button {
    width: 90%;
    height: 30px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #174668;
    color: #174668;
    font-size: 16px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

section#contato article form textarea {
    width: 90%;
    height: 150px;
    margin-bottom: 25px;
    resize: none;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #174668;
    color: #174668;
    font-size: 16px;
}

section#contato article form textarea:focus,
section#contato article form input:focus {
    box-shadow: 0px 2px 4px rgba(0, 23, 31, 0.2), 0px 4px 8px rgba(0, 23, 31, 0.2);
}

section#contato article form button:hover {
    background-color: #174668;
    color: #ffffff;
    cursor: pointer;
}


@media only screen and (max-width: 400px) {

    section#contato article,
    section#contato article form {
        width: 95%;
    }

}

/* Rodapé */

footer#rodape {
    padding: 25px 0px 25px 0px;
    width: 100%;
    max-height: 100%;
    background-color: #2E4147;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer#rodape article {
    width: 100%;
    max-height: 100%;
    padding: 0px 2.5% 0px 2.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

footer#rodape article:nth-child(3) {
    justify-content: center;
}

footer#rodape article main {
    width: 350px;
    max-height: 100%;
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer#rodape article main:nth-child(2),
footer#rodape article main:nth-child(2) img {
    width: 50px;
    height: 50px;
}

footer#rodape article main a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

footer#rodape article main a img {
    width: 30px;
    height: 30px;
}

footer#rodape article h1 {
    width: 90%;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
}

footer#rodape article h1 a {
    color: #ffffff;
    text-decoration: underline;
}

footer#rodape hr {
    margin: 25px 0px 25px 0px;
    width: 95%;
    height: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 967px) {

    footer#rodape article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 400px) {

    footer#rodape article main {
        width: 100%;
    }

}