// Começo banner blog 
section#bannerBlog {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#bannerBlog h1 {
    color: $color1;
    font-size: $fontLarge * 3;
    font-weight: $fontw3;
    background-color: $color5;
    padding: 0px 10px 5px 10px;
    position: relative;
    margin-bottom: 50px;
}

section#bannerBlog h1:before, 
section#bannerBlog h1:after {
    content:'';
    background-color: $color4; 
    width:50px;
    height:80px;
    transform:skewY(20deg);
    position:absolute;
    z-index:-1;
}

section#bannerBlog h1:before { top: 25px; left:0; }
section#bannerBlog h1:after { top:-10px; right:0; }

section#bannerBlog a {
    color: $color4;
    font-size: $fontMedium;
    font-weight: $fontw2;
}
// Fim banner blog 

// Começo Posts
section#posts {
    width: 50%;
    height: 100vh;
    padding: 75px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 10;
    overflow-y: auto;
}

section#posts::-webkit-scrollbar-track
{
	border-radius: 10px;
    background-color: $color3;
    margin: 10px 0px 10px 0px;
}

section#posts::-webkit-scrollbar
{
	width: 12px;
    background-color: $color3;
}

section#posts::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $color5;
}

section#posts h1 {
    color: $color5;
    font-size: $fontLarge;
    font-weight: $fontw3;
    margin-bottom: 50px;
}

section#posts ul {
    width: 90%;
    max-height: 100%;
}

section#posts ul li {
    width: 100%;
    min-height: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color1;
    box-shadow: $shadow;
    margin-bottom: 25px;
}

section#posts ul li a {
    color: $color5;
    text-align: center;
    font-size: $fontMedium * 2;
    font-weight: $fontw2;
    margin-bottom: 15px;
}

section#posts ul li p {
    color: $color4;
    text-align: center;
    font-size: $fontMedium;
    font-weight: $fontw1;
}
// Fim Posts

@media only screen and (max-width: 975px) {
    section#bannerBlog {
        width: 100%;
    }

    section#posts {
        position: unset;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    section#posts ul {
        width: 90%;
        min-height: 100%;
    }
}